.card {
  background: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.card__image {
  min-height: 282px;
  object-fit: cover;
}

.card__content-container {
  padding: 2px 16px;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-right: 16px;
  grid-template-columns: repeat(auto-fit, 282px);
}

.card__text {
  margin: 0 16px 0 0;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__edit-button {
  /* background: transparent url("../images/heart-vector.svg") center no-repeat; */
  border: none;
  background: no-repeat;
  background: center;
}

.card__edit-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
