.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0;
  font-family: "Inter", Arial, sans-serif;
}
.header__around-image {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header__around-image::before {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.7;
  background: #545454;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

@media screen and (max-width: 740px) {
  .header__around-image {
    margin-left: 20px;
  }
}

@media screen and (max-width: 568px) {
  .header__around-image {
    margin-left: 20px;
  }
  .header::before {
    width: calc(100% + 40px);
  }
}

@media screen and (max-width: 480px) {
  .header {
    /* margin-top: 0; */
    /* min-height: 84px; */
    display: flex;
    align-items: center;
    /* padding: 0; */
    /* margin-top: 28px; */
    /* margin-bottom: 32px; */
    padding-bottom: 32px;
    padding-top: 28px;
  }

  .header__around-image {
    width: 126px;
    height: 24px;
    margin: 0 0 0 27px;
  }
}
