.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 23px 17px;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  padding-top: 10px;
  padding-left: 0;
}

@media screen and (max-width: 580px) {
  .cards__container {
    grid-template-columns: repeat(auto-fit, 282px);
    max-width: 282px;
    justify-content: center;
  }
}
@media screen and (max-width: 880px) {
  .cards__container {
    display: grid;
    padding: 0;
    justify-content: center;
  }
}
