/* * + * {
  border: 1px solid red;
} */

.body {
  background-color: black;
  height: 100vh;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  width: 880px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 580px) {
  .page {
    max-width: 320px;
  }
}

@media screen and (max-width: 880px) {
  .page {
    max-width: 768px;
  }
}

.around__image {
  width: 173px;
  height: 33px;
  padding-top: 45px;
  padding-bottom: 81px;
}

.heading {
  display: flex;
  gap: 0 40px;
  color: white;
  padding-bottom: 51px;
}

/* @media screen and (max-width: 580px) {
  .heading {
    margin-top: 28px;
    width: 320px;
  } */

/* @media screen and (max-width: 880px) {
  .heading {
    display: flex;
    gap: 0 40px;
    color: white;
    padding-bottom: 51px;
  } */

.heading__text {
  color: white;
  width: 194px; 
  height: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  box-sizing: border-box;
  margin-top: 16px; 
  margin-bottom: 16px;
}

.heading__pencil-button {
  color: white;
  width: 24x;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 16px;
}
.heading__pencil-button:hover {
  opacity: 0.5;
}

.heading__pencil {
}

.heading__save-button {
  color: white;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  margin-left: 322px; 
  margin-top: 40px;
}

.heading__save-button:hover {
  opacity: 0.5;
}

.heading_description {
}

.heading__image {
  border-radius: 50%;
  overflow: hidden;
  width: 128px;
  height: 128px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-gap: 23px 17px;
  font-family: "Inter", Arial, sans-serif;
  margin: 16px 0 0 0;
  padding-bottom: 150px;
}
/* @media screen and (max-width: 580px) {
  .card__container {
    grid-template-columns: 1fr;
    max-width: 282px;
  }
  @media screen and (max-width: 880px) {
    .card__container {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }  */
.card {
    background: white;
    border-radius: 10px;
    /* width: 282px;
  height: 282px; */
  }
}

.card__image {
  max-height: 230px;
  width: 100%;
}

.card__content-container {
  padding: 2px 16px;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-family: Inter;
  /* width: auto;
  background-color: white; */
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-right: 16px;
}

.card__text {
  margin: 0 16px 0 0;
  white-space: nowrap;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__edit-button:hover {
  opacity: 0.3;
}

/* @media screen and (max-width: 880px) {
  .card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .card__container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 282px;
    margin: 0 auto;
  }
} */
