* + * {
  border: 1px solid red;
}

.body {
  background-color: black;
  height: 100vh;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  width: 880px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}

/* @media screen and (max-width: 880px) {
  .page {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  .page {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
} */

.around__image {
  width: 173px;
  height: 33px;
  padding-top: 45px;
  padding-bottom: 40px;
}

.heading {
  display: flex;
  gap: 0 40px;
  color: white;
}

/* @media screen and (max-width: 580px) {
  .heading {
    margin-top: 28px;
}

.heading {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-top: 45px;
} */

.heading__text {
  color: white;
  width: 194px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  box-sizing: border-box;
}

.heading__pencil-button {
  color: white;
  width: 24x;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 10px;
}
.heading__pencil-button:hover {
  opacity: 0.5;
}

.heading__save-button {
  color: white;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  margin-left: 180px;
  /* margin-top: 20px; */
}

.heading__save-button:hover {
  opacity: 0.5;
}

.header_description {
}

.heading__image {
  border-radius: 50%;
  overflow: hidden;
  width: 128px;
  height: 128px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-gap: 23px 17px;
  font-family: "Inter", Arial, sans-serif;
  margin: 16px 0 0 0;
  padding-bottom: 150px;
}

.card {
  background: white;
  border-radius: 10px;
}

.card__image {
  /* border-radius: 10px; */
  max-height: 230px;
  width: 100%;
}

.card__content-container {
  padding: 2px 16px;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-family: Inter;
  /* width: auto;
  background-color: white; */
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-right: 16px;
}

.card__text {
  margin: 0 16px 0 0;
  white-space: nowrap;
}
. .card__pen-image {
  width: 10px;
  height: 10px;
}

.card__heart-button {
  /* margin-left: 5px; */
}
.card__heart-button:hover {
  opacity: 0.5;
}

/* @media screen and (max-width: 880px) {
  .card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .card__container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 282px;
    margin: 0 auto;
  }
} */

/* .footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 0 60px;
}
.footer__copyright {
  margin: 0;
}
@media screen and (max-width: 580px) {
  .footer {
    margin: 48px 19px 36px;
    font-size: 14px;
    line-height: 17px;
  }
} */
